<img src="img/banner.png">
<h1><%= @project.title %></h1>

<h4>Volunteers on this project:</h4>
<% if @volunteers.any?() %>
  <ol>
    <% @volunteers.each() do |volunteer| %>
    <li>
      <ul>
        <li> <a href="/volunteer/<%=volunteer.id%>"><%= volunteer.name %></a></li>
      </ul>
    </li>
    <% end %>
  </ol>

  <% else %>
  <p> No volunteers yet...</p>
  <% end %>

<h3>Add another volunteer</h3>

<form action="/project/<%= @project.id %>" method= "post">
  <div class="form-group">
    <label class="form-label" for="name">Volunteer</label>
    <input class="form-control" name="name" id="name" type="text">
  </div>

  <button type="submit" class="btn btn-success"> Add volunteer </button>
</form>

<br>

  <a href="/"><button type="button" class="btn btn-light">Home</button></a>





<a href="/edit_project/<%=@project.id%>">Edit Project</a>
